# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/

# Distribution/packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.local